header {
    display: flex;
    width: auto;
    height: 100px;
    background-color: #6495ed;
}

#creditList {
    list-style: none;
}

footer {
    width: auto;
    height: 80px;
    background-color: #6495ed;
}

#footer-list {
    list-style: none;
}

a {
    color: black;
}